{% extends "base.html" %}

{% block content %}

<h1>Shared File</h1>

<div class="share-box">

    <h2>
	{% if filename.endswith('.pdf') %}
	📄
	{% elif filename.endswith('.png') or filename.endswith('.jpg') or filename.endswith('.j		peg') %}
	🖼️
	{% else %}
	📁
	{% endif %}

	{{ filename }}
	</h2>
	
    <p>
        Shared by:
        <strong>{{ username }}</strong>
    </p>

    <a class="btn download-btn"
       href="{{ url_for('files.download_shared_file',
                        token=token) }}">
        Download File
    </a>

</div>

{% endblock %}
